.DS_Store
__package-lock.json
/node_modules/*
/fabric-client-kv-org*
artifacts/channel/crypto-config/*
artifacts/channel/*.tx
artifacts/channel/*.block
artifacts/docker-compose.yaml
artifacts/bin/*
build/